<% makes = Make.includes(:car_models).order(:name) %>
<div id="ad_form" class="col-sm-10 col-sm-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading"><%= title %></div>
    <div class="panel-body">

      <%= simple_form_for @ad, 
        html: {  id: "new_ad_form", class: "validate-form" },
        defaults:{
          wrapper_html: { class: 'form-group' }, 
          input_html:   { class: 'form-control ' }
          # , label_html:   { class: '' }
        } do |f| %>
        <%= error_messages_for(@ad) %>

        <div class="row">
          <div class="col-sm-3">
            <div class="col-sm-12 ">
              <%= f.association :make, 
                  label: t("brand"), 
                  collection: makes, 
                  input_html: {id: "make_id"} %>      
            </div>    
            <div class="col-sm-12 ">
              <%= f.input :car_model_id, 
                  label: t("car_model"), 
                  collection: makes, 
                  as: :grouped_select, 
                  group_method: :car_models, 
                  prompt: "", 
                  input_html: {id: "car_model_id"}  %>
            </div>
            <div class="col-sm-12 ">
              <%= f.association :body_color, 
                  label: t("body_color") %>      
            </div>

          </div>

          <div class="col-sm-3">
            <div class="col-sm-12 ">
              <%= f.input :fuel, 
                  label: t("fuel"), 
                  collection: FUEL_ARR.each_with_index.map { |item, index| [item, index] } %>
            </div>

            <div class="col-sm-12 ">
              <%= f.input :girbox, 
                  label: t("girbox"), 
                  collection: GIRBOX_ARR.each_with_index.map { |item, index| [item, index] },
                  input_html:{class: "form-control required"} ,
                  selected:  f.object.girbox ? 1 : 0   
                   %>
            </div>

            <div class="col-sm-12 ">
              <%= f.association :internal_color, 
                  label: t("internal_color") %>      
            </div>

          </div>

          <div class="col-sm-3">
            <div class="col-sm-12 ">
              <div class="input select optional form-group">
                <%= f.label t("millage") %>
                <%= f.text_field :millage, 
                  class: "currencies numbers_with_unit limit11digit form-control" %>
                  <span class="unit"><%= t "kilometer" %></span>
              </div>
            </div>
            
            <div class="col-xs-12 year-group">
              <div id="year_format" class="">
                <%=  f.collection_radio_buttons :year_format, 
                  [ [false, t('miladi')], [true, t('shamsi')] ], 
                  :first, :last, 
                  checked: f.object.try(:year_format) || true  %>
              </div>
              <%= f.input :year_shamsi, 
                label: t("year") , 
                collection: year_range("shamsi"), 
                wrapper_html: {class: "year_shamsi"}, 
                input_html:{class: "form-control year_nolabel required"},  
                selected:  f.object.year_shamsi
                 %>
              <%= f.input :year_miladi, 
                label: t("year") , 
                collection: year_range("miladi"), 
                wrapper_html: {class: "year_miladi"}, 
                input_html:{class: "form-control year_nolabel required"},
                selected: f.object.year_miladi
                 %>
            </div>
            <%#= raise %>

            <div class="col-sm-12 problem-margin-top">
              <%= f.input :damaged, 
                  label: t("damaged"), 
                  collection: DAMAGED.each_with_index.map { |item, index| [item, index] },
                  prompt: ""
              %>
            </div>

          </div>  

          <div id="usage_type" class="col-sm-3 ">
            <div class="input select optional form-group">
              <%= f.label t("usage_type") %>
              <%=  f.collection_radio_buttons :usage_type, 
                USAGE_ARR.each_with_index.map {|item, index| [index, item] }, 
                :first, :last, 
                checked: f.object.try(:usage_type) %>
            </div>
          </div>

        </div>

        <hr>

        <div class="row">
         <div class="col-sm-3">
          <div class="col-sm-12 ">
            <%= f.input :location, 
              label: t("location"),
              placeholder: t(".enter the city"),
              input_html: {
                id: "location_city", 
                class: "form-control #{with_value_class f.object.location}",
                value:  f.object.location || current_user.location
              } %>
            </div>
            <div class="col-sm-12 ">
              <div class="input select optional form-group">
                <%= f.label t("price") %>
                <%= f.text_field :price, value: f.object.price.to_i, 
                  class: "currencies numbers_with_unit limit11digit required form-control" %>
                  <span class="unit"><%= t "toman" %></span>
              </div>
            </div>

          </div>

         <div class="col-sm-3">
          <div class="col-sm-12 ">
            <%= f.simple_fields_for :ad_other_field do |s| %>
              <%= s.input :tel, 
                label: t("tel"),
                input_html: { 
                  value: f.object.ad_other_field.tel || current_user.location, 
                  class: "required form-control phones" } 
              %>
            <% end %>
            </div>
            <div class="col-sm-12 ">
              <%= f.submit t(".submit ad") , class: "btn btn-block btn-primary" %>
            </div>
          </div>

         <div class="col-sm-6">
          <div class="col-sm-12 ">
            <%= f.input :details, 
              label: t("details"), as: :text,
              input_html: {rows: 6 } %>
            </div>
          </div>

        </div>

      <% end %>

    </div>
  </div>
</div>