<div id="unverified">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "name" %></th>
        <th><%= t "title" %></th>
        <th><%= t "details" %></th>
        <th><%= t "price" %></th>
        <th><%= t "status" %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @ads.each do |ad| %>
        <tr>
          <td><%= link_to ad.user.name , ad.user %></td>
          <td><%= ad_title ad %></td>
          <td><%= ad.details %></td>
          <td><%= price_human ad.price %></td>
          <td><%= t"#{ad.status_human}" %></td>
          <td><%= link_to t('verify'), verify_ads_path(id: ad.id, code: 2) %></td>
          <td><%= link_to t('info_problem'), verify_ads_path(id: ad.id, code: 30) %></td>
          <td><%= link_to t('image_problem'), verify_ads_path(id: ad.id, code: 31) %></td>
          <td><%= link_to t('tel_problem'), verify_ads_path(id: ad.id, code: 32) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>