<span class="title">مشخصات فنی</span>
  <hr>
  <p> نوع گيربكس : <span class="pull-left"><%= built_year.gearbox %></span></p>
  <p>  نوع ديفرانسيل : <span class="pull-left"><%= built_year.diff %></span> </p>

  <hr>
  <p>  حجم موتور : <span class="pull-left"><%= built_year.engine_displacement %></span> سی سی</p>
  <p>  تعداد سيلندر : <span class="pull-left"><%= built_year.cylinder %></span></p>
  <p>  تعداد سوپاپ : <span class="pull-left"><%= built_year.soupape %></span></p>

  <hr>
  <p>  قدرت : <span class="pull-left"><%= built_year.power %>  سی سی</span></p>
  <p>  گشتاور : <span class="pull-left"><%= built_year.torque %></span></p>

  <hr>
  <p>  طول : <span class="pull-left"><%= built_year.length %>  سی سی</span></p>
  <p>  عرض : <span class="pull-left"><%= built_year.width %></span></p>
  <p>  ارتفاع : <span class="pull-left"><%= built_year.height %></span></p>

  <hr>
  <p>  حداكثر سرعت : <span class="pull-left"><%= built_year.speed %> کیلومتر در ساعت</span></p>
  <p>  شتاب 0 تا 100 : <span class="pull-left"><%= built_year.acceleration %> ثانیه</span></p>

  <hr>
  <p>مصرف سوخت : <span class="pull-left"><%= built_year.fuel_consumption %>  ليتر در 100 كيلومتر</span></p>
  <p>  حجم مخزن : <span class="pull-left"><%= built_year.tank_size %> ليتر</span></p>

  <hr>
  <p>سایز تایر : <span class="pull-left english"><%= built_year.tire %></span></p>
  <p>استاندارد آلایندگی : <span class="pull-left"><%= built_year.emission_standards %></span></p>

  <hr> <br>
    <span class="title">امكانات</span>
  <hr>
  <p class="facilities">ايربگ : <span class="data"><%= built_year.airbag %></span></p>
  <p class="facilities">ترمز و كنترل : <span class="data"><%= built_year.brake %></span></p>
  <p class="facilities">تهويه هوا : <span class="data"><%= built_year.tahvie_hava %></span></p>
  <p class="facilities">صندلی : <span class="data"><%= built_year.seats %></span></p>
  <p class="facilities">شيشه ها : <span class="data"><%= built_year.shisheha %></span></p>
  <p class="facilities">آينه : <span class="data"><%= built_year.ayneha %></span></p>
  <p class="facilities">چراغ ها : <span class="data"><%= built_year.cheraghha %></span></p>
  <p class="facilities">سایر امكانات  : <span class="data"><%= built_year.other_facilities %></span></p>

