<%= simple_form_for(@make) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.input :deligate, collection: Make.order(:name).map{|m| [m.name,m.id]} %>
    <%= f.input :visible, as: :boolean %>

    <%= f.label :year_format, "Year _Format" %><br>
    <p>shamsi: <%= f.radio_button :year_format, :true %></p>
    <p>miladi: <%= f.radio_button :year_format, :false %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
