<%= simple_form_for(@make, url: make_path) do |f| %>
  <div class="field">
    <%= f.input :name %><br>
    <%= f.input :slug %><br>

    <%= f.input :deligate, collection: Make.order(:id).map{|m| ["#{m.id} #{m.name}",m.id]} %>
    <%= f.input :visible, as: :boolean %>

    <%= f.label :year_format, "Year _Format" %><br>
    <p>shamsi: <%= f.radio_button :year_format, :true %></p>
    <p>miladi: <%= f.radio_button :year_format, :false %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
