<% @page_title = " اتویابی - فروش خودرو " + @make.name  %>
<% @description = " فروش خودرو " + @make.name  %>
<% breadcrumb :make, @make %>
<div id="make_show">
  <div id="search_list" class="col-sm-7 col-md-9">
    <%= render 'shared/ads_list' %>
    <h1 class="small">فروش خودرو <%= @make.name %> <span class="pull-left"> <%= @make.slug.gsub(/[^0-9a-z ]/i, ' ').upcase %> </span> </h1>
  </div> 

  <div id="search_bar" class="col-sm-5 col-md-3">
    <%= render 'shared/search_form' %>
    <%= render 'makes/show/car_models_list' %>
  </div>
</div>

<% if can? @make, :edit %>
  <%= link_to 'Edit', edit_make_path(@make) %> |
  <%= link_to 'Back', makes_path %>
<% end %>
