<% if @search.make_id.present? and @search.car_model_id.nil? and @search.car_models.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><%= t ".car_models" %></h3>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <% @search.car_models.each_with_index do |car_model, index| %>
        <%=raw index<5 ? "<li>" : "<li class='myhidden'>"  %>
          <a class="filter_sections_badge_link" href="">
            <span class="badge pull-left"><%= car_model[1] %></span> 
            <%= form_for @search, url: searches_path, method: :post do |f| -%>
              <%= f.hidden_field :search_id, value: @search.id %>
              <%= f.hidden_field :car_model_name, value: car_model[0]  %>
              <%= f.submit check_for_blank(car_model[0]), class: "btn btn-link" %>
            <% end %>
          </a>
        </li>
      <% end %>

    </ul>
    <% if @search.car_models.size > 5 %>
      <a href="" class="show_more" ><%= t".more" %></a>
    <% end %>
  </div>
<% end %>


