<% if @ads.any? %>
  <% if params[:controller] == "searches" %>
    <%= render 'shared/paginate', items: @ads %>
  <% else %>
    <%= render 'shared/breadcrumbs' %>
  <% end %>
	<% @ads.each do |ad| %>
    <%= link_to ad_path(ad), class: "search_row", title: "#{ad_seo_title ad}" do %>
			<%= render 'shared/ads_list/ad', ad: ad %>
    <% end %>
	<% end %>
  <%= render 'shared/paginate', items: @ads %>
<% else %>
  <p id="err_msg"><%= t".no_resault_message" %></p>
<% end %>
