<div class="fields">
  <div class="text">
    <% if name == "location" or
          name == "radius" or
          name == "year_from" or
          name == "year_to"  or
          name == "price_from"  or
          name == "price_to"  or
          name == "millage_from"  or
          name == "millage_to"  or
          name == "body_color"  or
          name == "internal_color" or
          name == "order" 
    %>
      <small><%= t "#{name}" %>:</small>     
    <% end %>
    <div class="value"><%= label1 %></div>
  </div>
  <%= form_for @search, url: searches_path, method: :post do |f| -%>
    <%= f.hidden_field :search_id, value: @search.id %>
    <%= f.hidden_field :remove, value: true %>
    <%= f.hidden_field "#{name}_id".to_sym, value: value  %>
    <%= f.submit "X", class: "btn btn-link tooltip_bottom",
      title: t("remove_filter") , id: "element",
      data: {toggle: "tooltip", placement: "bottom"} %>
  <% end %>
</div>