<div class="panel panel-default">
  <div class="panel-heading">
    <% if @ad.built_year %>
      <%= render 'shared/breadcrumbs' %>
    <% else %>
      <%= t ".car_details" %>
    <% end %>
  </div>
  <div class="panel-body">
    <%= two_column_title_value "brand", (@ad.make.deligate_obj.slug ? link_to(@ad.make.deligate_obj.name, @ad.make.deligate_obj, title: "فروش خودرو #{@ad.make.deligate_obj.name}") : @ad.make.deligate_obj.name ) %>

    <% if @ad.make.slug %>
      <%= two_column_title_value "car_model", 
            link_to( @ad.car_model.name, make_car_model_path(make_id: @ad.make.deligate_obj.slug, id: @ad.car_model.id),
              title: "فروش خودرو #{@ad.make.name} #{@ad.car_model.name}" )%>
    <% else %>
      <%= two_column_title_value "car_model", @ad.car_model.name%>
    <% end %>

    <% if  @ad.make.slug and @ad.car_model and @ad.built_year  %>
      <%= two_column_title_value "year", 
            link_to(appropriate_year(@ad), make_car_model_built_year_path(make_id: @ad.make.slug, car_model_id: @ad.car_model.id, id: @ad.built_year.year), title: "فروش خودرو #{@ad.make.name} #{@ad.car_model.name} سال #{@ad.built_year.year}" ) %>
    <% else %>
      <%= two_column_title_value "year", appropriate_year(@ad) %>
    <% end %>

    <%= two_column_title_value "price", price_human(@ad.price) %>
    <%= two_column_title_value "millage", number_to_currency(@ad.millage,unit: t("kilometer"), delimiter: "/") %>
    <%= two_column_title_value "fuel", fuel_human(@ad)  %>
    <%= two_column_title_value "usage_type", usage_type_human(@ad) %>
    <%= two_column_title_value "girbox", girbox_human(@ad) %>
    <%= two_column_title_value "body_color", @ad.body_color_name %>    
    <%= two_column_title_value "internal_color", @ad.internal_color_name %>
    <%= two_column_title_value "how_looks", damaged_human(@ad) %>
    <hr>
    <div class="details">
      <%= t 'details' %>:
      <p class="small"><%= @ad.details %></p>
    </div>
  </div>
</div>

    
