<div class="panel panel-default">
  <div class="panel-heading no_background">
    <h3 class="panel-title"><%= t ".car_details" %></h3>
  </div>
  <div class="panel-body">
    <%#= two_column_title_value "brand", @ad.make.name %>
    <%#= two_column_title_value "car_model", @ad.car_model.name %>
    <%= two_column_title_value "price", price_human(@ad.price) %>
    <%= two_column_title_value "year", appropriate_year(@ad) %>
    <%= two_column_title_value "millage", number_to_currency(@ad.millage,unit: t("kilometer"), delimiter: "/") %>
    <%= two_column_title_value "fuel", fuel_human(@ad)  %>
    <%= two_column_title_value "usage_type", usage_type_human(@ad) %>
    <%= two_column_title_value "girbox", girbox_human(@ad) %>
    <%= two_column_title_value "body_color", @ad.body_color_name %>    
    <%= two_column_title_value "internal_color", @ad.internal_color_name %>
    <%= two_column_title_value "how_looks", damaged_human(@ad) %>
    <hr>
    <div class="details">
      <%= t 'details' %>:
      <p class="small"><%= @ad.details %></p>
    </div>
  </div>
</div>

    
