<h3>
  <%= t".number of today's ads" %>
  <span id="vehicle_count"><%= @today_ad_count %></span>
  <%= t "vehicle" %>
</h3>
<% @makes.each do |make| %>
  <% make_obj = Make.find_by(name: make[0]) %>
  <% if make_obj.slug %>
    <%= link_to "#{make[0]} (#{make[1]})", make_obj, class: " btn btn-link", title: "فروش خودرو #{make[0]}" %>    
  <% else %>
    <%= form_for Search.new do |f| -%>
      <%= f.hidden_field :make_id, value: make_obj.id %>
      <%= f.submit "#{make[0]} (#{make[1]})",class: "btn btn-link" %>
    <% end %>
  <% end %>

<% end %>