<h3>
  <%= t".number of today's ads" %>
  <span id="vehicle_count"><%= @today_ad_count %></span>
  <%= t "vehicle" %>
</h3>

<% cache([:homes, :statistic], :expires_in => 15.minutes) do %>
  <% Home.makes.each do |make| %>
    <% name = make[0][0] %>
    <% id = make[0][1] %>
    <% slug = make[0][2] %>
    <% size = make[1] %>
    <% if slug.present? %>
      <%= link_to "#{name} (#{size})", make_path(id: id), class: " btn btn-link", title: "فروش خودرو #{name}" %>    
    <% else %>
      <%= form_for Search.new do |f| -%>
        <%= f.hidden_field :make_id, value: id %>
        <%= f.submit "#{name} (#{size})",class: "btn btn-link" %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
