<div class="my_ad">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= ad.id %>">
          <div class="row">
            <div class="col-xs-8"><%= ad_title(ad) %></div>
            <div class="col-xs-4 <%= ad.status_human_short %>"><%= t "#{ad.status_human_short}" %></div>
          </div>
        </a>
      </h6>
    </div>
    <div id="collapse<%= ad.id %>" class="panel-collapse collapse <%= "in" if @dashboard.my_ads.first == ad %> content">
      <%= render 'dashboards/my_ads/action_nav', ad: ad %>        
      <%= two_column_title_value 4, 7, "title", link_to(ad_title(ad), ad) %>
      <%= two_column_title_value 4, 7, "viewed", ad.ad_other_field.viewed %>
      <%= two_column_title_value 4, 7, "updated_times", 
          "#{ad.ad_other_field.updated_times} #{t "times"}" %>
      <%= two_column_title_value 4, 7, "last_update", date_human(ad.updated_at) %>
    </div>
  </div>
</div>