<% @page_title = title_creator(@search) %>

<div id="search_show">
  <div id="search_bar" class="col-sm-5 col-md-3">
    <%= render 'search_form' %>
    <div class="filter_sections">
      <%= render 'searches/filters/makes' %>
      <%= render 'searches/filters/car_models' %>
      <%= render 'searches/filters/fuels' %>
      <%= render 'searches/filters/girboxes' %>
      <%= render 'searches/filters/body_colors' %>
      <%= render 'searches/filters/internal_colors' %>
    </div>
  </div>

  <div id="search_list" class="col-sm-7 col-md-9">
    <%= render 'searches/search_list/list_of_filtered' %>
  	<% if @ads.any? %>
      <%= render 'shared/paginate', items: @ads %>

  		<% @ads.each do |ad| %>
        <%= link_to ad_path(ad), class: "search_row", title: "#{ad_title ad}" do %>
    			<%= render 'searches/search_list/ad', ad: ad %>
        <% end %>
  		<% end %>
      <%= render 'shared/paginate', items: @ads %>
    <% else %>
      <p id="err_msg"><%= t".no_resault_message" %></p>
  	<% end %>
  </div>
</div>