<% @page_title = "اتویابی - " + title_creator(@search) %>

<div id="search_show">
  <div id="search_bar" class="col-sm-5 col-md-3">
    <%= render 'shared/search_form' %>
    <div class="filter_sections">
      <%= render 'searches/filters/makes' %>
      <%= render 'searches/filters/car_models' %>
      <%= render 'searches/filters/fuels' %>
      <%= render 'searches/filters/girboxes' %>
      <%= render 'searches/filters/body_colors' %>
      <%= render 'searches/filters/internal_colors' %>
    </div>
  </div>

  <div id="search_list" class="col-sm-7 col-md-9">
    <%= render 'searches/search_list/list_of_filtered' %>
    <%= render 'shared/ads_list' %>
  </div>
</div>