<a class="ad_row row" href="<%= ad_path(ad) %>" >

  <div class="thumb-title ad_col col-xs-6 ">
    <div class="thumb ">
      <%= thumb_image ad %>
    </div>

    <div class="title ">
      <%= ad_title ad %> 
    </div>
    <div class="truncate small">
      <%= truncate_details ad, 100 %>
    </div>
  </div>

  <div class="col-xs-1"></div>

  <div class="city ad_col col-xs-2 ">
    <div><%= ad.city %></div>
  </div>

  <div class="date ad_col col-xs-2 ">
    <div><%= date_human ad.updated_at %></div>
  </div>

  <div class="price ad_col col-xs-1 ">
    <div class="amount">
      <%= price_human ad.price  %>
    </div>  
  </div>

</a>
