<div id="dashboard_show">

  <div id="dashboard_bar" class="col-sm-2">
    <%#= render 'search_form' %>
    <div class="filter_sections">
      <%= render 'dashboards/filters/makes' %>
      <%#= render 'dashboards/filters/car_models' %>
      <%#= render 'dashboards/filters/fuels' %>
      <%#= render 'dashboards/filters/girboxes' %>
      <%#= render 'dashboards/filters/body_colors' %>
      <%#= render 'dashboards/filters/internal_colors' %>
    </div>
  </div>

  <div id="ads_list" class="col-sm-7">
    <% if @ads.any? %>
      <%= render 'shared/paginate', items: @ads %>

      <%= render 'ads' %>

      <%= render 'shared/paginate', items: @ads %>
    <% else %>
      <p id="err_msg"><%= t".no_resault_message" %></p>
    <% end %>
  </div>

  <div id="my_ads" class="col-sm-3">
    <%= render 'my_ads' %>
  </div>

</div>

