<div id="dashboard_show">

  <div id="dashboard_bar" class="col-sm-2">
    <div class="filter_sections">
      <%= render 'dashboards/filters/range_filters', range_filter: "price" %>
      <%= render 'dashboards/filters/range_filters', range_filter: "year" %>
      <%= render 'dashboards/filters/model_elements', filter_model_name: 'Make' %>
      <% if  @dashboard.filtered_elements('Make').present?  %>
        <%= render 'dashboards/filters/model_elements', filter_model_name: 'CarModel' %>
      <% end %>
      <%= render 'dashboards/filters/non_model_filters', non_model_filter_name: 'FUEL' %>
      <%= render 'dashboards/filters/non_model_filters', non_model_filter_name: 'GIRBOX' %>
      <%#= render 'dashboards/filters/girboxes' %>
      <%= render 'dashboards/filters/model_elements', filter_model_name: 'BodyColor' %>
      <%= render 'dashboards/filters/model_elements', filter_model_name: 'InternalColor' %>
    </div>
  </div>

  <div id="ads_list" class="col-sm-7">
    <% if @ads.any? %>
      <%= render 'shared/paginate', items: @ads %>

      <%= render partial: 'ad', collection: @ads %>

      <%= render 'shared/paginate', items: @ads %>
    <% else %>
      <p id="err_msg"><%= t".no_resault_message" %></p>
    <% end %>
  </div>

  <div id="my_ads" class="col-sm-3">
    <%= render 'my_ads' %>
  </div>

</div>


