<!DOCTYPE html>
<html lang="fa">
<head>
  <title>
    <% if @page_title %>
      <%= @page_title %>
    <% else %>
      <%= t"site_name" %>
    <% end %>
  </title>
  <meta name="LANGUAGE" content="fa" />
  <meta name="msvalidate.01" content="CC3BAF20AEC730704DC8E33BB38FAC94" />
  <meta name="google-site-verification" content="Y24KTNibeWr3ry1BSXsq8Jwc304y9eBE4o5ue8JjZro" />
  <meta name="alexaVerifyID" content="Ogj7Kbu_aEuXa6iYTTgInkTjsZg"/>

  <% if @description %>
    <meta name="description" content= <%= @description %> >
  <% elsif @page_title %>
    <meta name="description" content= <%= @page_title %> >
  <% end %>
  
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>