<% @page_title = " اتویابی - خرید و فروش خودرو #{@car_model.make.name} #{@car_model.name}"  %>
<% breadcrumb :car_model, @car_model %>

<div id="car_model_show">
  <div id="search_list" class="col-sm-7 col-md-9">
    <%= render 'shared/ads_list' %>
    <%= render 'shared/make_carmodel_year_title_below', obj: @car_model %>
  </div> 

  <div id="search_bar" class="col-sm-5 col-md-3">
    <%= render 'shared/search_form' %>
    <%= render 'car_models/show/built_years_list' %>
    <%= render 'car_models/show/built_year_car_details_last' if @built_year %>
  </div>
</div>

<% if can? @car_model, :edit %>
  <%= link_to 'Edit', edit_make_car_model_path %> |
<% end %>
