<%= render 'head' %>

<div class="container">
  <%= render 'navbar' %>
  <div id="main_container">
    <div id="siteContent">
      <%= flash_creator flash %>      
      <%= yield %>  
    </div>
  </div>
  <%= render 'footer' %>
</div>
